section.articles
    .grid
        +b.article-box
            +e.left
                figure.article-image
                    a(href="#")
                        img(src="../../static/img/articles/post-9-570x293.jpg")
                .desc
                    .tx-block
                        .article-title
                            a(href="#") 10 Things To Do In Wedding Store
                    .article-description Discover the latest collection of exclusive wedding dresses. Their styles will speak to several personality types...
                    a.btn-primary(href="#") Подробнее

        +b.article-box
            +e.right
                figure.article-image
                    a(href="#")
                        img(src="../../static/img/articles/post-10-570x293.jpg")
                .desc
                    .tx-block
                        .article-title
                            a(href="#") 10 Things To Do In Wedding Store
                    .article-description Discover the latest collection of exclusive wedding dresses. Their styles will speak to several personality types...
                    a.btn-primary(href="#") Подробнее
