main.main
	include ../common/breadcrumb
	+b.grid
		+e.item
			+e.A.link(href="#")
				img.img(src="http://lorempixel.com/output/fashion-q-c-360-280-6.jpg")
			h1 Title
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis delectus odit repellat debitis non. Quaerat itaque tempora ipsum neque odio, ab, dolore in totam ad animi vero. Tempore quibusdam quae magni id voluptatum maiores, est similique, reprehenderit adipisci quis quaerat. Qui deleniti, dolore impedit quasi sed molestias amet ullam dicta.
		+e.item
			+e.A.link(href="#")
				img.img(src="http://lorempixel.com/output/fashion-q-c-360-280-5.jpg")
			h1 Title
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex sed nulla quam, quis neque nesciunt deleniti! Molestiae voluptatibus dolores, aliquam eum tenetur est voluptate sint explicabo soluta sunt illo nobis quia optio, in id facere modi ab. Aut assumenda nam deleniti, doloremque esse quidem numquam consequatur animi, soluta iusto sit.
		+e.item
			+e.A.link(href="#")
				img.img(src="http://lorempixel.com/output/fashion-q-c-360-280-9.jpg")
			h1 Title
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, tempora? Eius consequatur mollitia at qui ducimus numquam consectetur accusamus nulla consequuntur. Expedita qui est, aliquid optio sed voluptas laudantium iure soluta cum veniam labore officiis accusantium deserunt quod atque odit quo id debitis itaque eius, nemo ut quidem dolorum corrupti!


section.banner
	+b.grid
		+e.item
			+e.A.link(href="#")
				img.img(src="../../static/img/banner/banner-1-368x256.jpg")
			+e.desc
				a(href="#") Весільні сумки

		+e.item
			+e.A.link(href="#")
				img.img(src="../../static/img/banner/banner-2-368x256.jpg")
			+e.desc
				a(href="#") Обручки

		+e.item
			+e.A.link(href="#")
				img.img(src="../../static/img/banner/banner-3-368x256.jpg")
			+e.desc
				a(href="#") Аксесуари

section.collection
	+b.grid
		+e.item-big
			+e.A.link(href="#")
				img.img.img-responsive(src="../../static/img/collection/banner-big-768x446.jpg")
		+e.item-lookbook
			+e.A.link(href="#")
				img.img.img-responsive(src="../../static/img/collection/banner-lookbook-368x446.jpg")


