nav#top-links.nav(role="navigation")
    ul.toggle-cont
        li.toggle-wrap
            a.nav-link(href="#") 
                i.material-icons-face
                span Мой кабинет
        li
            a.nav-link(href="#") Закладки
        li
            a.nav-link(href="#") Корзина
