section.carousel
	#carousel.top-carousel.owl-carousel.container.owl-loaded.owl-drag
		.item
			a.tilter(href="#") 
				img(src="../../static/img/owl-carousel/product-1-388x648.jpg") 
		.item
			a.tilter(href="#")
				img(src="../../static/img/owl-carousel/product-2-388x648.jpg") 
		.item
			a.tilter(href="#") 
				img(src="../../static/img/owl-carousel/product-4-388x648.jpg")
		.item
			a.tilter(href="#") 
				img(src="../../static/img/owl-carousel/product-1-388x648.jpg") 
		.item
			a.tilter(href="#") 
				img(src="../../static/img/owl-carousel/product-1-388x648.jpg") 
		.item
			a.tilter(href="#") 
				img(src="../../static/img/owl-carousel/product-1-388x648.jpg") 
		.item
			a.tilter(href="#") 
				img(src="../../static/img/owl-carousel/product-1-388x648.jpg")
		.item
			a.tilter(href="#") 
				img(src="../../static/img/owl-carousel/product-1-388x648.jpg")