include ../common/breadcrumb

.grid
    .product_page-block.product_page-left
        .product-gallery
    .product_page-block.product_page-right
        .product-info
            h2.product-title Strapless Ball Gown In Lace Wedding Dress