include ../common/breadcrumb

.grid
    .product_page-block.product_page-left
        .product-gallery
            .image-main
                img(src="../../static/img/product/product-37-530x530.png")
            .image-thumb
    .product_page-block.product_page-right
        .product-info
            h2.product-title Strapless Ball Gown In Lace Wedding Dress
            ul.product-section
                li 
                    strong Модель:
                    span Classic
                li 
                    strong Наличие:
                    span.stock Есть в наличии
            .rating-section
                .rating
                    span.fa-stack
                        i.material-icons-star.fa-stack-1x
                    span.fa-stack
                        i.material-icons-star.fa-stack-1x
                    span.fa-stack
                        i.material-icons-star.fa-stack-1x
                    span.fa-stack
                        i.material-icons-star.fa-stack-1x
                    span.fa-stack
                        i.material-icons-star.fa-stack-1x
                    span.review-link.review-link-show
                        a(href="#") 0 отзывов
                    span.review-link.review-link-write
                        a(href="#") Написать отзыв