include ../common/breadcrumb

.grid
    .product_page-block.product_page-left
        .product-gallery
    .product_page-block.product_page-right
        .product-info
            h2.product-title Strapless Ball Gown In Lace Wedding Dress
            ul.product-section
                li 
                    strong Модель:
                    span Classic
                li 
                    strong Наличие:
                    span.stock Есть в наличии
            .rating-section
                .rating
                    span.fa-stack
                        i.material-icons-star.fa-stack-1x
                    span.fa-stack
                        i.material-icons-star.fa-stack-1x
                    span.fa-stack
                        i.material-icons-star.fa-stack-1x
                    span.fa-stack
                        i.material-icons-star.fa-stack-1x
                    span.fa-stack
                        i.material-icons-star.fa-stack-1x
                    span.review-link.review-link-show
                        a(href="#") 0 отзывов
                    span.review-link.review-link-write
                        a(href="#") Написать отзыв
        #product
            .product-options
                .form-group.option-color.required
                    label.control-label Color
                .option-select.form-group.required
                    div
                        #input-option40
                            .radio
                                input#option40120(name="option[40]120" value="120" type="radio")
                                label(for="option[40]120")
                                    img.img-thumbnail(src="../../static/img/general/white-50x50.png" width="21" height="21")