+b.SECTION.tabs
	.module-tab
		ul#module-tabs.nav.nav-tabs
			li.active
				a(href="#tab-latest", data-toggle="tab") Последнее
			li 
				a(href="#tab-specials", data-toggle="tab") Скидки
			li 
				a(href="#tab-bestsellers", data-toggle="tab") Популярные

		.tab-content
			#tab-latest.tab-pane.fade.in.active
				.grid.product-layout
					+e.item.product-thumb
						.image
							+e.A.link(href="product.html")
								img.img(src="../../static/img/tabs/product-38-270x270.png")
						.caption
							+e.name
								a(href="#") Angel Formal Dress Women's
						.price
							span.price-old 500
							span.price-new 200

					+e.item.product-thumb
						.image
							+e.A.link(href="#")
								img.img(src="../../static/img/tabs/product-54-270x270.png")
						.caption
							+e.name
								a(href="#") Elegant Trumpet Evening Gown Bridal
						.price
							span.price-old 500
							span.price-new 200

					+e.item.product-thumb
						.image
							+e.A.link(href="#")
								img.img(src="../../static/img/tabs/product-58-270x270.png")
						.caption
							+e.name
								a(href="#") Gown In Lace Wedding Dress
						.price
							span.price-old 500
							span.price-new 200

					+e.item.product-thumb
						.image
							+e.A.link(href="#")
								img.img(src="../../static/img/tabs/product-78-270x270.png")
						.caption
							+e.name
								a(href="#") Guarantee Lace Wedding Dresses
						.price
							span.price-old 500
							span.price-new 200
					+e.item.product-thumb
						.image
							+e.A.link(href="#")
								img.img(src="../../static/img/tabs/product-38-270x270.png")
						.caption
							+e.name
								a(href="#") Весільні сумки
						.price
							span.price-old 500
							span.price-new 200

					+e.item.product-thumb
						.image
							+e.A.link(href="#")
								img.img(src="../../static/img/tabs/product-54-270x270.png")
						.caption
							+e.name
								a(href="#") Обручки
						.price
							span.price-old 500
							span.price-new 200

					+e.item.product-thumb
						.image
							+e.A.link(href="#")
								img.img(src="../../static/img/tabs/product-58-270x270.png")
						.caption
							+e.name
								a(href="#") Аксесуари
						.price
							span.price-old 500
							span.price-new 200

					+e.item.product-thumb
						.image
							+e.A.link(href="#")
								img.img(src="../../static/img/tabs/product-78-270x270.png")
						.caption
							+e.name
								a(href="#") Аксесуари
						.price
							span.price-old 500
							span.price-new 200


			#tab-specials.tab-pane.fade
				.grid.product-layout
					+e.item.product-thumb
						+e.A.link(href="#")
							img.img(src="../../static/img/tabs/product-10-270x270.png")
						+e.desc
							a(href="#") Весільні сумки

					+e.item.product-thumb
						+e.A.link(href="#")
							img.img(src="../../static/img/tabs/product-54-270x270.png")
						+e.desc
							a(href="#") Обручки

					+e.item.product-thumb
						+e.A.link(href="#")
							img.img(src="../../static/img/tabs/product-58-270x270.png")
						+e.desc
							a(href="#") Аксесуари

					+e.item.product-thumb
						+e.A.link(href="#")
							img.img(src="../../static/img/tabs/product-78-270x270.png")
						+e.desc
							a(href="#") Аксесуари
					+e.item.product-thumb
						+e.A.link(href="#")
							img.img(src="../../static/img/tabs/product-38-270x270.png")
						+e.desc
							a(href="#") Весільні сумки

					+e.item.product-thumb
						+e.A.link(href="#")
							img.img(src="../../static/img/tabs/product-54-270x270.png")
						+e.desc
							a(href="#") Обручки

					+e.item.product-thumb
						+e.A.link(href="#")
							img.img(src="../../static/img/tabs/product-58-270x270.png")
						+e.desc
							a(href="#") Аксесуари

					+e.item.product-thumb
						+e.A.link(href="#")
							img.img(src="../../static/img/tabs/product-78-270x270.png")
						+e.desc
							a(href="#") Аксесуари


			#tab-bestsellers.tab-pane.fade Text 3